
/* Ajustes generales */
body {
    font-family: "Outfit";
    padding: 0%;
    margin: 0;
}

/* Sección Hero */
.hero {
    background: url(IMG/banner-2.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero h1 {
    padding: 15px;
}

/* Sección de programas */
.programs {
    background-color: #2ee59d;
    padding: 0;
    margin: 0;
}

/* Footer */
footer {
    background: black;
    color: white;
}

footer .row {
    margin: 0;
    padding: 10px 0;
}

footer p {
    margin: 0;
    padding: 5px 0;
}

.custom-gallery .col-6, 
.custom-gallery .col-md-3 {
    padding: 0; /* Elimina el padding de las columnas */
    margin: 0; /* Elimina el margen de las columnas */
}

.custom-gallery img {
    width: 100%; /* La imagen ocupa todo el ancho de la columna */
    height: 100%; /* La imagen ocupa toda la altura de la columna */
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
    display: block; /* Elimina el espacio en blanco generado por imágenes inline */
}

#pe{
    font-size: 10px;
}

/* Sección de texto */
.text-section {
    background-color: #007bff; /* Fondo azul */
    color: rgb(0, 0, 0); /* Texto blanco */
}

.text-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1.2rem;
    margin: 0;
}

/* Diseño responsive */
@media (max-width: 700px) {
    .hero h1 {
        font-size: 24px;
    }

    .programs .row {
        flex-direction: column;
    }

    .programs .col-6 {
        width: 100%;
    }
}

